body {
    display: flex;
    justify-content: center;
}

#title {
    font-size: 2rem;
    text-align: center;
}

#description {
    text-align: center;
}

.states {
    fill: none;
}

#tooltip {
    position: absolute;
    padding: 1rem;
    background: lightyellow;
    pointer-events: none;
}
